# .xprofile is used by DMs like sddm/gdm
# .xinitrc is just used by startx or xinit

export QT_QPA_PLATFORMTHEME=qt5ct
export GTK_IM_MODULE=fcitx5
export QT_IM_MODULE=fcitx5
export XMODIFIERS="@im=fcitx5"

# hidpi setting
# export QT_AUTO_SCREEN_SCALE_FACTOR=1
# export GDK_SCALE=2
# export GDK_DPI_SCALE=0.5

# xmodmap /home/doubleleft/.xmodmaprc

# vim: set ft=sh :
